<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="../static/styles.css">
</head>
<body class="desktop">
<div class="hero">
    <div class="rows">
        <div class="frame">
            <p class="headers">白屏自动启动原神
            <p class="headers">素材切换
        </div>
        <div class="columns">
            <div class="rows2">
            <form action="/move_file_p1_1" method="POST" class="button">
                <input type="submit" value="原神启动素材_P1_1版" class="button2">
            </form>
            <form action="/move_file_p2_1" method="POST" class="button">
                <input type="submit" value="原神启动素材_P2_1版有音频版" class="button2">
            </form>
            <form action="/move_file_p3_2" method="POST" class="button">
                <input type="submit" value="原神启动素材_P3_2版（植物大战僵尸音乐版）" class="button2">
            </form>
            <form action="/move_file_p4_2" method="POST" class="button">
                <input type="submit" value="原神启动素材_P4_2版有音频（植物大战僵尸音乐版）" class="button2">
            </form>
        </div>
            <div class="frame2">
                <img src="../static/2.png" class="image">
            </div>
        </div>
    </div>
</div>



</body>
</html>